{% extends 'base.html' %}  
{% load static %}


{% block base %}
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="text-white font-tertiary">What Your Results Mean?</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>This is a proof of concept project. My goal is to prove that deep learning algorithms can be used to detect mental health issues. </p>
        <p>At this stage, the results given are not conclusive. I am continously working improve the project and if you think you could help, contact me on my email id: yash2998chhabria@gmail.com. If you are a developer feel free to see the code or Fork/Clone the project from the github links provided below.</p>
        <p>Currently, There are two Deep learning algorithms at work. The first one is used to detect over the overall sentiment of the article (96% accuracy). The Second one (Sentence wise : 76% accuracy) detects symptoms mentioned on <a href="https://www.nhs.uk/conditions/clinical-depression/symptoms/">National Health Service (Uk) Website.</a> </p>
          <a href="https://github.com/yash2998chhabria/django-rnn"><i class="ti-github" aria-hidden="true" style="font-size:24px"></i> Website Github</a>
          <br>
          <a href="https://github.com/yash2998chhabria/Rnn-Nlp"><i class="ti-github" aria-hidden="true" style="font-size:24px"></i> The Machine learning Algo with Datasets Github</a>
      </div>  

    </div>
  </div>
</section>
<!-- /about -->

<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Algorithms At Work!?</h2>
      </div>
      <div class="col-lg-6 col-md-6 text-center hover-shadow pt-3">
        <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div> -->
        <img src="{% static 'images/algo1.png' %}" alt="portfolio-image" class="img-fluid">
        <br>
          <h4 class="mb-4">Overall Depression Sentiment Detection</h4>
          <p>A Bilateral Mutilayer Recurrent Neural Network trained on data scraped from <a href="https://www.time-to-change.org.uk/category/blog/depression">time-to-change.org.uk</a> and <a href="https://www.beyondblue.org.au/who-does-it-affect/personal-stories?category=7c245435-a559-465b-bdcb-8b993cb47c6e"> beyondblue.org</a></p>
      </div>
      <div class="col-lg-6 col-md-6 text-center hover-shadow pt-3">
        <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OhESSZIXvCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->
        <img src="{% static 'images/algo2.png' %}" alt="portfolio-image" class="img-fluid">
        <br>
        <h4 class="mb-4">Sentence Wise Detection of Symptoms of Depression</h4>
        <p>A Bilateral Mutilayer Recurrent Neural Network trained on data scraped from the reddit subreddit <a href="https://www.reddit.com/r/depressed/">r/depressed</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}