{% extends 'base.html' %}  
{% load static %}


{% block base %}
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="text-white font-tertiary">What Your Results Mean?</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>This is A Proof of Concept Project. My Goal is to prove that deep learning algorithms can be used to treat mental health issues </p>
        <p>At this Point. Your Results Does not mean anything conclusive. I am continously working to make improve the project and if you think you could help contact me on my email id: yash2998chhabria@gmail.com. If you are a developer feel free to see the code or Fork/Clone the project from the github links provided below.</p>
        <p>Currently, There are two Deep learning algorithms at work. The first one is used to detect over the overall sentiment of the article (96% accuracy). The Second one (Sentence wise) detects symptoms mentioned on <a href="https://www.nhs.uk/conditions/clinical-depression/symptoms/">National Health Service (Uk) Website.</a> </p>
          <a href="https://github.com/yash2998chhabria/django-rnn"><i class="ti-github" aria-hidden="true" style="font-size:24px"></i> Website Github</a>
          <br>
          <a href="https://github.com/yash2998chhabria/Rnn-Nlp"><i class="ti-github" aria-hidden="true" style="font-size:24px"></i> The Machine learning Algo with Datasets Github</a>
      </div>  

    </div>
  </div>
</section>
<!-- /about -->

<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">How Does the Algorithms Work!?</h2>
      </div>
      <div class="col-lg-6 col-md-6 text-center hover-shadow pt-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <br>
          <h4 class="mb-4">Research and Plan</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
      </div>
      <div class="col-lg-6 col-md-6 text-center hover-shadow pt-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OhESSZIXvCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <h4 class="mb-4">Design and Develop</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}